<section class='comments-main-section'>
  <h1>Hoy</h1>

  <div class='today-comments'>
    <div class='comment-nd'>
      <h2 class='comment-name'>Agus</h2>
      <p class='comment-time'>14:03</p>
      <%= image_submit_tag("Vector.svg", class: 'post-comment-svg')%>
    </div>

    <p> Hoy Camila vino con mucha angustia, pasó una situacion en su casa, estamos haciendo seguimiento.</p>
  </div>

  <div class='today-comments'> 
    <div class='comment-nd'>
      <h2 class='comment-name'>Agus</h2>
      <p class='comment-time'>14:03</p>
      <%= image_submit_tag("Vector.svg", class: 'post-comment-svg')%>
    </div>

    <p> Hoy Camila vino con mucha angustia, pasó una situacion en su casa, estamos haciendo seguimiento.</p>
    
  </div>
</section>
<section class='comments-main-section'>
  <h1>Hoy</h1>

  <div class='today-comments'>
    <div class='comment-nd'>
      <h2 class='comment-name'>Agus</h2>
      <p class='comment-time'>14:03</p>
    </div>

    <p> Hoy Camila vino con mucha angustia, pasó una situacion en su casa, estamos haciendo seguimiento.</p>
  </div>

  <div class='previous-comments'> 
 
  </div>
</section>