<section class='comments-main-section'>


  <div class='today-comments'>
    <div class='comment-nd'>
      <div class= "name-date"> 
        <h2 class='comment-name'><%= comment.name %></h2>
        <p class='comment-time'><%= comment.hour %></p>
      </div>
      <div class= "likes">
        <p>99</p>
        <%= image_submit_tag("Vector.svg", class: 'comment-svg')%>

      </div>
    </div>
    <p class = "comment-p"><%= comment.user_comment %> </p>
  </div>

</section>