<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>
<body>
   
	<div class="container">
		<div class='form-box'>
			<div>
				<button id='login'> Sesion </button>
				<button id='register'> Registro </button>
			</div>
			<hr id='line'>
			<img src='app/assets/images/Frame.svg' alt='globe-photo'> 
		</div>
	</div>




</body>
</html>