body {
	background-color: #0090af;
	font-family: Roboto;
}

.main-box {
	display: flex;
	background-color: #ffffff;
	margin: 198px 277px 242px 276px;
	padding: 20px;
	flex-direction: column;
	min-width: 887px;
	min-height: 584px;
}

.section {
	display: flex;
	justify-content: space-around;
}

.login-form {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	justify-content: space-around;
	align-items: center;
}

.item {
	display: flex;
	flex-direction: column;
}

.globe-photo {
	margin-top: 108px;
}

.globo-photo-register {
	margin-top: 70px;
}

.title {
	margin: 50px 0px;

	font-style: normal;
	font-weight: 300;
	font-size: 24.1759px;
	line-height: 29px;
	text-align: center;
}

.remember-me {
	align-self: flex-start;
}

.email-label,
.password-label {
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
}

.email-text,
.password-text {
	width: 359px;
	height: 30px;
	background: #fafafa;
	border: 1.29514px solid #cccccc;
	border-radius: 7.06992px;
}

.login-button {
	width: 233px;
	height: 40px;
	background: #0090af;
	border-radius: 3.4537px;
	color: rgb(254, 254, 254);
	font-size: 16px;
	line-height: 18px;
}

.recover-password {
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 29px;
	color: #0090af;
	text-decoration: none;
}

.navbar {
	text-align: center;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 29px;
	text-decoration: none;
	color: black;
}

/* charly */
.login-google {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 3.4537px;
	border-color: #0090af;
	border-style: ridge;
	width: 233px;
	height: 40px;
	text-align: center;
}
