/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: Roboto;
	background: #0090af;
}

.container {
	position: absolute;
	width: 1440px;
	height: 1024px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
}

.form-box {
	margin: 252px 276px 198px 277px;
	height: 584px;
	width: 887px;
	left: 277px;
	top: 242px;
	background: #ffffff;
	border-radius: 8px;
	box-shadow: -7px 7px 30px 0px #004c5c33;
	padding: 20px;
}

.login {
	position: absolute;
	height: 29px;
	width: 88px;
	left: 622px;
	top: 266px;
	font-size: 18px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0px;
	text-align: center;
	border-radius: 0px;
	text-decoration: none;
}

.register {
	position: absolute;
	height: 29px;
	width: 145px;
	left: 722px;
	top: 266px;
	font-size: 18px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0px;
	text-align: center;
	border-radius: 0px;
	text-decoration: none;
}

a:visited {
	color: inherit;
}

#line {
	position: absolute;
	width: 800px;
	height: 0px;
	left: 320px;
	top: 301px;
	border: 1px solid #bec2c4;
}

.globe-photo {
	position: absolute;
	width: 302px;
	height: 337px;
	left: 390px;
	top: 409px;
}

.title {
	position: absolute;
	font-size: 24px;
	font-weight: 300;
	line-height: 29px;
	letter-spacing: 0px;
	text-align: center;
	height: 29px;
	width: 218px;
	left: 832px;
	top: 350px;
}

.login:hover,
.register:hover {
	color: #0090af;
}

.email-label {
	position: absolute;
	height: 15px;
	width: 32px;
	left: 766px;
	top: 419px;
}

.email-text {
	box-sizing: border-box;
	position: absolute;
	left: 52.85%;
	right: 22.22%;
	top: 42.68%;
	bottom: 54.1%;
	background: #fafafa;
	border: 1.29514px solid #cccccc;
	border-radius: 7.06992px;
	box-sizing: border-box;

	position: absolute;
	left: 52.85%;
	right: 22.22%;
	top: 42.68%;
	bottom: 54.1%;

	background: #fafafa;
	border: 1.29514px solid #cccccc;
	border-radius: 7.06992px;
}

.password-label {
	position: absolute;
	height: 15px;
	width: 66px;
	left: 766px;
	top: 489px;
}

.password-text {
	position: absolute;
	height: 32px;
	width: 359px;
	left: 761.0634765625px;
	top: 507px;
	border-radius: 7.069916725158691px;
	border: 1.3px solid #cccccc;
}

.remember-me {
}

.remember-me-label {
}

.password-group {
}

.login-button {
	position: absolute;
	width: 233.11px;
	height: 40px;
	left: 823.89px;
	top: 603px;

	background: #0090af;
	border: none;
	border-radius: 3.4537px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	/* or 113% */

	text-align: center;

	color: #ffffff;
}

.recover-password {
	position: absolute;
	width: 123px;
	height: 30px;
	left: 879px;
	top: 649px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 29px;
	/* identical to box height, or 226% */

	color: #0090af;
}

.google-login {
}
