.comments-container {
  width: 100%;
}
.comment-area {
  background-color: #F1F3F4;
  resize: none;
  border-radius: 0.2159rem;
  border: none;
  padding: 1rem;
}

.post-comment-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

.title-comments{
  display: flex;
  justify-content: center;
  margin-bottom: 0.9375rem;
  font-size: 1.2rem;
}

.highlight-checkbox {
  width: 1.25rem;
  height: 1.25rem;
}

.highlight-text {
  font-size: 1rem;
  align-self: center;
  margin-left: 0.9375rem;
}

.comment-container-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.post-comment-svg {
  height: 1.5625rem;
  width: 1.5625rem;
  margin-right: 1rem;
}

.post-comment-button {
  background-color: #0090af;
  color: white;
  width: 9.375rem;
  height: 2.1875rem;
  display: flex;
  align-self: end;
  border-radius: 0.2159rem;
  border: none;
  text-align: center;
  font-size: 1rem;
  justify-content: center;
}

.post-comment-button:hover {
  cursor:pointer;
  border: 0.1875rem solid #0a6b81;
}

.left-bottom-comment {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-bottom-comment img{
  cursor: pointer;
}

.highlight-comment {
  display: flex;
  align-self: center;
}

.date-h3{
  text-align: center;
  margin: 5px;
  padding: 5px;
}