.comments-container {
  width: 100%;
}
.comment-area {
  background-color: #F1F3F4;
  resize: none;
  border-radius: 0.2159rem;
  border: none;
  font-family: 'Roboto';
}


.post-comment-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

.title-comments{
  display: flex;
  justify-content: center;
  margin-bottom: 0.9375rem;
  font-size: 1.2rem;
  font-family: 'Roboto';
}

.highlight-checkbox {
  width: 1.5rem;
  height: 1.5rem;
}

.highlight-text {
  font-size: 1rem;
  font-family: 'Roboto';
  align-self: center;
  margin-left: 15px;
}

.comment-container-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.post-comment-svg {
  height: 2.1875rem;
  width: 2.1875rem;
}

.post-comment-button {
  background-color: #0090af;
  color: white;
  width: 9.375rem;
  height: 2.1875rem;
  display: flex;
  align-self: end;
  border-radius: 0.2159rem;
  border: none;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto';
}

.left-bottom-comment {
  display: flex;
  justify-content: space-around;
  width: 20%;
}
.highlight-comment {
  display: flex;
  align-self: center;

}