* {
  font-family: 'Roboto';
}

#delete-modal {
	position: absolute;
	z-index: 3;
	word-break: break-word;
  background: #DADADA;
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 175px;
  color: #474747;
  top: 410px;
  left: 700px;
}

#delete-modal > div {
  height: 100%;
  border: 1px solid #D95234;
  box-shadow: -2px 4px 10px rgb(0 0 0 / 10%);
  border-radius: 8px;
}
.close-modal{
  margin: 5px 5px 0px 5px;
}
.button-delete-student {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #0090AF;
  border-radius: 4px;
  gap: 10px;
  width: 117px;
  height: 33px;
  margin: 5px;
  padding: 5px;

}

.h2_delete_modal {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #474747;
  margin: 5px;
  padding: 5px;
}

.buttons-delete-modal { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 80%;
}

.close-delete-student {
  text-align: right;
  width: 100%;
}
