.close {
  position: relative;
  left: 95%;
  padding: 1%;
  border: none;
  background-color: #0090af;
  font-size: 20px;
  font-weight: bold;
}

.m-login-form > .m-item:first-child {
  margin-top: 30px;
}

.m-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #0090af;
  padding: 10px;

}
.m-login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.m-login-form:first-child {
  margin-top: 10px;
}

.m-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.m-login-button {
  width: 14.5625rem;
  height: 2.5rem;
  background: #0090af;
  border-radius: 0.2159rem;
  color: rgb(254, 254, 254);
  font-size: 1rem;
  line-height: 1.125rem;
  border: none;
  margin: 30px;
  font-weight: bold;
}

.m-login-button:hover {
  opacity: 0.5;
}

.school-attendance-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  width: 22.4375rem;
}


.school-grade-form {
  font-weight: 300;
	font-size: 0.8125rem;
	line-height: 0.9375rem;
  width: 22.4375rem;
}

.prueba { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0px;
  gap: 10px;
}
