.vl {
  border-right: 0.1875rem solid lightgray;
  height: 90%;
}

.side-bar {
  float: left;
  height: 100%;
  width: 30%;
  margin: 0 auto auto 0;
}

.student-links{
  text-align: left;
	color: black;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.profile-name {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: #474747;
}

.student-links:hover{
	color: #0090af;
  font-size: 1rem;
}

.student-links:nth-child(3){
  color: #0090AF;
}

.bread-crum-nav {
  margin-left: 1.7%;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.student-info {
  margin: 5%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding-top: 0%;
}
.obj-title {
  display: flex;
  justify-content: space-between;
}
.student-description {
  gap: 0.625rem;
  display: flex;
  flex-direction: column;
}

.student-show-label {
  gap: 0.625rem;
  display: flex;
  padding: 0.3125rem;
  margin: 0.3125rem;
  width: 100%;
  margin-left: 0rem;
}

.show-container {
  display: flex;
  height: 100%;
}

.school-subjects {
  background-color: #9729EE;
  color: white;
  border-radius: 1.125rem;
  width: fit-content;
  padding: 0.1875rem;
}

.school-subjects-edit {
  display: flex;
  gap: 0.625rem;
}

.show-h2 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #0090AF;
}

.title-info {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #474747;
}

.field-info {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #474747;
}

.show-student-body{
  height: 100%;
}
